.nav {
  @include position($position: fixed, $top: 0, $left: 0);
  @include create-container(flex, $vw-100, $nav-height, false, row);
  @include flex-center-updown;
  z-index: z('menu');
  margin-bottom: $nav-height;

  .link {
    margin: 0 30px;

    &:hover {
      color: lighten(totoo-color('accent'), 20%);
    }
  }

  &-transparent {
    background-color: totoo-color('transparent');
  }

  &-black {
    background-color: totoo-color('primary');
    box-shadow: 0 5px 0 0 totoo-color('accent');
  }

  &__links {
    @include span(11);
  }

  &__login {
    @include span(1);
  }

}