.user-info {
  margin-top: $nav-height;
  height: 300px;
  background-repeat: no-repeat;

  &__cover-photo {
    padding-top: 130px;
    background-size: 100%;
    background-position: 10% 20%;
  }

  &__top {
    margin-left: 100px;
  }

  .section {
    &__title-white,
    &__text-white,
    &__subtitle-white {
      color: totoo-color('text-primary', 0.2);
      margin: 15px 20px;
    }
  }

}