.user-info {
  margin-top: $nav-height;
  height: 300px;
  background-repeat: no-repeat;

  &__cover-photo {
    padding-top: 130px;
    background-size: cover;
    background-position: 15% 20%
  }

  &__top {
    margin-left: 100px;
  }

  .avatar {
    &__container {
      @include size(100px);
      background-color: unset;
      padding-bottom: 20px;
    }
  }

  .section {
    &__title-white,
    &__text-white {
      color: totoo-color('text-primary', 0.2);
      margin: 0 30px 15px;
    }

    &__subtitle-white {
      margin: 25px 0 10px 30px;
    }
  }

}
