.btn {
  @include size($width: 100px, $height: 30px);
  @include create-font($font-family: 'secondary', $font-size: 0.75em, $font-weight: $font-weight-text);
  border: 0;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border: 1px solid totoo-color('primary');
    border-radius: $border-radius;
    color: lighten(totoo-color('text-secondary'), 60%);
  }

  &__info {
    background-color: totoo-color('info');
  }

  &__register {
    @include size($width: 160px, $height: 60px);
    font-size: $font-size-btn;
    background-color: totoo-color('secondary');
    border: 0;
    border-radius: $border-radius;
    font-weight: $font-weight-btn-register;
  }
}