/// Mixin for easy breakpoint manipulation
/// @param {String} $breakpoint
/// Usage: @include for-device(small) {}
@mixin for-device($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin abs-centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/// LINK STYLE GENERATOR
// USAGE: @include link-style(yellow, $hover: blue) {};
@mixin link-style() {
  a {
    font-family: 'Roboto', sans-serif;
    color: totoo-color('text-primary');

    &:visited {
      font-weight: bold;
    }
  }
}

/// POSITION GENERATOR
/// @param {String} $type - define position type
/// @param {String} $top - direction
/// @param {String} $right - direction
/// @param {String} $bottom - direction
/// @param {String} $left - direction
// Usage: @include position(absolute, 10px, 0, 50px, 15px) {};
@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($width, $height: $width) {
  widtH: $width;
  height: $height;
}

@mixin span($size, $columns: $grid-columns, $gap: $grid-gap) {
  width: $size / $columns * 100%;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-right: $gap;
}

/// For quick margin/padding
@mixin margin-padding($mg: null, $pd: null) {
  margin: $mg;
  padding: $pd;
}