/// Mixin for easy breakpoint manipulation
/// @group RWD
/// @param {String} $breakpoint key from breakpoints map
/// @example scss - Basic usage
/// .foo {
///   font-size: 16px;
///   @include for-device(small) {
///     font-size: 14px;
/// }
@mixin for-device($breakpoint: 'lg') {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

/// Helper mixin to center element horizontally
/// @group centerer's
/// @author Patryk Rozwadowski
@mixin margin-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/// Helper mixin to center container by
/// position absolute. The parent should
/// have position relative in this situation.
/// @group centerer's
/// @author Patryk Rozwadowski
@mixin abs-centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/// Helper mixin to center elements by using flex
/// @group centerer's
/// @author Patryk Rozwadowski
@mixin flex-centerer($direction: null) {
  display: flex;
  justify-content: center;
  align-items: center;
  @if ($direction) {
    flex-direction: column;
  } @else {
    flex-direction: $direction;
  }
}

/// Custom position generator
/// @group position's
/// @param {String} $type - define position type
/// @param {String} $top - direction
/// @param {String} $right - direction
/// @param {String} $bottom - direction
/// @param {String} $left - direction
/// @author Patryk Rozwadowski
/// @example - Basic usage:
/// .foo {
///   @include position(absolute, 10px, 0, 50px, 15px);
/// }
@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/// Quick and easy mixin for elements size manipulation
/// For square just give $width value
/// @group Elements props
/// @param {String} $width
/// @param {String} $height
/// @author Patryk Rozwadowski
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/// @group Grid
@mixin span($size, $columns: $grid-columns, $gap: $grid-gap) {
  width: $size / $columns * 100%;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-right: $gap;
}

/// For quick margin/padding
@mixin margin-padding($mg: null, $pd: null) {
  margin: $mg;
  padding: $pd;
}

/// CREATORS
@mixin create-font($family: 'Overpass', $size: 1em, $weight: $font-weight-text) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: totoo-color('text-primary');
}

@mixin create-container($display: 'block', $width: null, $height: $width, $center: false) {
  @include size($width, $height);
  @if ($display == 'flex' and $center) {
    @include flex-centerer;
    display: $display;
  }
}