@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:200,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,900&display=swap');

$grid-columns: 12;
$grid-gap: 10px;

$btn-border-radius: 3px;

$font-size-btn: 1.5em;

$font-weight-title: 900;
$font-weight-subtitle: 400;
$font-weight-text: 400;
$font-weight-btn-register: 600;

$vw-100: 100vw;
$vh-100: 100vh;

$golden-ratio: 1.618;
// =========================
// COLORS
// =========================
$totoo-colors: (
        'primary': #000,
        'secondary': #fff,
        'text-primary': #fff,
        'text-secondary': #000,
        'background': #F3F5F6,
        'accent': #ff0084,
        'warning': #F44336,
        'info': #3F51B5,
        'transparent': rgba(0, 0, 0, 0.20)
);

$color-interval: 20% !global;

// =========================
// FONTS
// @type map
// @group variables
// =========================
$fonts-stack: (
        primary: #{'Overpass', sans-serif},
        secondary: #{'Roboto', sans-serif}
);

// =========================
// BREAKPOINTS
// =========================
$breakpoints: (
        'sm': 768px,
        'md': 980px,
        'lg': 1280px
);

// =========================
// Z-INDEX LAYERS
// =========================
$layers: (
        modal: 2000,
        overlay: 1000,
        header: 900,
        menu: 800,
        tooltip: 100,
        text: 1
);

