@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,900&display=swap');

.home__ {

  &container {
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 1;
    transition: all 1s ease;
    animation: homeBackgroundImageFade 1s;
  }

  &title {
    font: {
      family: 'Overpass', sans-serif;
      weight: 900;
      size: 3em;
      text-shadow: 6px 4px 6px rgba(150, 150, 150, 0.75);
    }
    margin: 15px;
    color: #fff;
  }

  &-wrapper {
    text-align: center;
  }

  &subtitle {
    @extend .home__title;
    font-weight: 200;
  }
}

@keyframes homeBackgroundImageFade {
  0%   {width: 0}
  70%  {width: 50%;}
  100% {width:100%;}
}