.upload {
  @include flex-centerer;

  .section__title {
    color: totoo-color('text-secondary');
  }

  .btn {
    margin-top: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    height: $vh-100;
  }

  &__upload {
    @include span(4);
    @include flex-centerer;
    border: 1px solid totoo-color('transparent');
    border-radius: 10px;
    height: 500px;
  }

  &__form {
    @include span(4);
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  &__input {
    @include span(5);
  }
}

.form__text-area {
  @include create-container($display: flex, $direction: column);
}

// TODO title section
.title__section {
  font-size: 3em;
}