.images {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 55px;
  align-items: center;
  padding: 50px;
  margin-top: $nav-height;
}

.image-card {
  position: relative;
  background-size: cover;

  &__icons {
  }

  &__title {
    @include create-font('secondary', 'secondary', $font-weight-text-fat);
    margin: 0;
  }

  &__icon {
    filter: invert(1);
    width: 24px;

    &-text {
      color: totoo-color('secondary');
      margin-left: 10px;
    }
  }

  &__feed {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 0;
    height: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) ,
      rgba(255, 255, 255, 0.1)
    );

    &-info {
      color: #fff;
    }
  }

  &:hover &__feed {
    width: 100%;
    height: 70px;
    padding: 20px 0 10px;
  }

  &__image {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__author {
    @include create-font(
      $color: 'text-primary',
      $font-size: 1.1em,
      $font-weight: $font-weight-text,
    );
    margin-left: 10px;
    opacity: 0.7;
  }

  &__image-info {
    @include create-font(
      $font-family: 'primary',
      $color: 'text-primary',
      $font-weight: $font-weight-text-fat
    );

    margin-left: 10px;
  }
}

/// @todo seperate?
@for $i from 2 through 50 {
  .image-card:nth-child(#{$i}) {
    margin-top: random(200) + px;
  }
}
