.images {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 55px;
  align-items: center;
  padding: 50px;
  margin-top: $nav-height;
}

.image-card {
  position: relative;
  background-size: cover;

  &__feed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.6) 0%, rgba(255,255,255,0.1) 100%);
  }

  &:hover &__feed {
    width: 100%;
  }

  &__image {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;

  }

  &__author {
    @include create-font(
      $color: 'text-primary',
      $font-size: 1.1em,
      $font-weight: $font-weight-text
    );
    margin: 0 0 0 10px;
  }

  &__title {
    @include create-font(
      $font-family: 'primary',
      $color: 'text-primary',
      $font-weight: $font-weight-text-fat
    );

    margin-left: 10px;
  }
}

/// @todo seperate?
@for $i from 2 through 50 {
  .image-card:nth-child(#{$i}) {
    margin-top: random(200) + px;
  }
}
