.f-center {
  @include flex-centerer(true);
}

.row {
  display: flex;
  flex-direction: row;
}

.feed-container {
  position: relative;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 50px;
  margin-top: $nav-height + 50px;
}