.f-center {
  @include flex-centerer(true);
}

.row {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.container {
  @include size($width: $vw-100, $height: $vh-100);
}

.feed-container {
  margin-top: $nav-height + 50px;
}

.gradient {
  background: linear-gradient(
                  180deg, transparent 0,
                  totoo-color('primary', $alpha: 1) 0%,
                  totoo-color('primary', $alpha: 0.65) 30%,
                  totoo-color('primary', $alpha: 0.45) 60%,
                  totoo-color('primary', $alpha: 0.4) 80%,
                  totoo-color('primary', $alpha: 0.25) 100%);
  padding: 100px 100px 0;
}