@for $i from 1 through 4 {
  h#{$i} {
    @include margin-padding(5px, 5px);
    font-family: 'Overpass', sans-serif;
    font-size: ($i * $golden-ratio);
    color: totoo-colors('text-primary');
  }
}

/// Class for active link
.active {
  color: totoo-color('accent');
}

a,
link {
  @include create-font('primary', 1em, $font-weight-text, 'text-primary');

  &:hover {
    color: lighten(totoo-color('accent'), $color-interval);
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: totoo-colors('primary');
}

.section {

  &__title {
    @include create-font($font-family: 'Overpass', $font-size: 2em, $font-weight: $font-weight-title);
  }

  &__subtitle {
    @include create-font($font-family: 'Overpass', $font-size: 1.5em, $font-weight: $font-weight-subtitle);
  }

  &__text {
    @include create-font($font-family: 'secondary', $font-size: 1.2em, $font-weight: $font-weight-text);
  }
}

.homepage {

  &__title {
    @include create-font('Overpass', 3em, $font-weight-title);
  }

  &__subtitle {
    @include create-font('Overpass', 2.5em, $font-weight-subtitle)
  }

}

* {
  transition: $transition-time ease;
}